
*.ico
*.evt
*.CAS
*.texture
*.dds
*.mesh
*.exe
*.ani
*.cur
*.3DS
*.sav
*.xml
*custom/
*Custom bat icons pack/

*data/animations
*data/banners
*data/battlefield
*data/blockset
*data/cursors
*data/engine
*data/fmv
*data/graphics
*data/loading_screen
*data/menu
*data/models_effects
*data/models_effects/textures
*data/models_engine
*data/models_missile
*data/models_strat
*data/models_strat/residences/textures/
*data/models_strat/textures
*data/new_vegetation
*data/overlaytextures
*data/scripts
*data/settlements
*data/siege_engines
*data/sounds
*data/terrain
*data/text
*data/ui
*data/unit_models
*data/unit_sprites

*packs/
*preferences/
*replays/
*saves/

*world/maps/base
*world/maps/battle
*world/maps/campaign/custom/

data/descr_aerial_map_ground_types.txt
data/descr_animals.txt
data/descr_arrow_trail_effects.txt
data/descr_arrow_trail_effects.txt.bak
data/descr_artillery_effects.txt
data/descr_boiling_oil.txt
data/descr_climates.txt
data/descr_climates_lookup.txt
data/descr_cultures.txt.bak
data/descr_effect_impacts.txt
data/descr_effect_impacts.txt.bak
data/descr_effects.txt
data/descr_engine_skeleton.txt
data/descr_engines.txt
data/descr_event_effects.txt
data/descr_event_images.txt
data/descr_faction_standing.txt
data/descr_flaming_projectiles.txt
data/descr_flaming_projectiles.txt.bak
data/descr_formations.txt
data/descr_formations_ai.txt
data/descr_lbc_db.txt
data/descr_missions.txt
data/descr_model_strat.txt
data/descr_mount.txt
data/descr_mounted_engines.txt
data/descr_names.txt
data/descr_names_lookup.txt
data/descr_offmap_models.txt
data/descr_particle.txt
data/descr_pathfinding.db
data/descr_pathfinding.txt
data/descr_projectile.txt
data/descr_projectile.txt.bak
data/descr_rebel_factions.txt
data/descr_religions.txt
data/descr_religions_lookup.txt
data/descr_skeleton.txt
data/descr_sm_factions.txt
data/descr_sm_factions.txt.bak
data/descr_sm_resources.txt
data/descr_sounds.txt
data/descr_sounds_accents.txt
data/descr_sounds_advice.txt
data/descr_sounds_battle_events.txt
data/descr_sounds_engine.txt
data/descr_sounds_enviro.txt
data/descr_sounds_events.txt
data/descr_sounds_generic.txt
data/descr_sounds_interface.txt
data/descr_sounds_music.txt
data/descr_sounds_narration.txt
data/descr_sounds_stratmap.txt
data/descr_sounds_prebattle.txt
data/descr_sounds_stratmap_voice.txt
data/descr_sounds_structures.txt
data/descr_sounds_units.txt
data/descr_sounds_units_ambient.txt
data/descr_sounds_units_anims.txt
data/descr_sounds_units_celebrate.txt
data/descr_sounds_units_collide.txt
data/descr_sounds_units_charge.txt
data/descr_sounds_units_confirm.txt
data/descr_sounds_units_fight.txt
data/descr_sounds_units_fire.txt
data/descr_sounds_units_idle.txt
data/descr_sounds_units_march.txt
data/descr_sounds_units_reform.txt
data/descr_sounds_units_run.txt
data/descr_sounds_units_retreat.txt
data/descr_sounds_units_taunt.txt
data/descr_sounds_units_voice.txt
data/descr_sounds_weapons.txt
data/descr_standards.txt
data/descr_standards.txt.bak
data/descr_ui_colour_db.txt
data/descr_walls.txt
data/descr_walls.txt.bak
data/export_descr_advice.txt
data/export_descr_ancillaries.txt
data/export_descr_buildings.txt.bak
data/export_descr_buildings_old.txt
data/export_descr_character_traits.txt
data/export_descr_guilds.txt
data/export_descr_sounds_advice.txt
data/export_descr_sounds_narration.txt
data/export_descr_sounds_prebattle.txt
data/export_descr_sounds_soldier_voice.txt
data/export_descr_sounds_stratmap_voice.txt
data/export_descr_sounds_units_battle_events.txt
data/export_descr_sounds_units_voice.txt
data/export_descr_unit - Kopia.txt
data/export_descr_unit- Memory Editing.txt
data/export_descr_unit.txt.bak
data/export_descr_unit_old.txt
data/descr_character.txt
data/descr_cultures.txt


data/world/maps/base/descr_sounds_music_types.txt
data/world/maps/base/water_surface.tga
data/world/maps/base/map_trade_routes.tga
data/world/maps/base/map_roughness.tga
data/world/maps/base/map_regions2.tga
data/world/maps/base/map_regions - bkp.tga
data/world/maps/base/map_heights - bkp.tga
data/world/maps/base/map_ground_types - bkp.tga
data/world/maps/base/map_fog.tga
data/world/maps/base/map_FE.tga
data/world/maps/base/map_climates.tga

data/world/maps/campaign/imperial_campaign/descr_events.txt
data/world/maps/campaign/imperial_campaign/descr_mercenaries.txt
data/world/maps/campaign/imperial_campaign/descr_regions_and_settlement_name_lookup.txt
data/world/maps/campaign/imperial_campaign/descr_strat.txt
data/world/maps/campaign/imperial_campaign/descr_win_conditions.txt
data/world/maps/campaign/imperial_campaign/descr_win_conditions.txt.bak
data/world/maps/campaign/imperial_campaign/factionregions.psd
data/world/maps/campaign/imperial_campaign/factionregions2.psd
data/world/maps/campaign/imperial_campaign/leader_pic_aztecs.tga
data/world/maps/campaign/imperial_campaign/leader_pic_centaur.tga
data/world/maps/campaign/imperial_campaign/leader_pic_darkiron.tga
data/world/maps/campaign/imperial_campaign/leader_pic_drakari.tga
data/world/maps/campaign/imperial_campaign/leader_pic_egypt.tga
data/world/maps/campaign/imperial_campaign/leader_pic_goblin.tga
data/world/maps/campaign/imperial_campaign/leader_pic_horde.tga
data/world/maps/campaign/imperial_campaign/leader_pic_hungary.tga
data/world/maps/campaign/imperial_campaign/leader_pic_kaldorei.tga
data/world/maps/campaign/imperial_campaign/leader_pic_khazmodan.tga
data/world/maps/campaign/imperial_campaign/leader_pic_legion.tga
data/world/maps/campaign/imperial_campaign/leader_pic_lordaeron.tga
data/world/maps/campaign/imperial_campaign/leader_pic_mongols.tga
data/world/maps/campaign/imperial_campaign/leader_pic_nerubians.tga
data/world/maps/campaign/imperial_campaign/leader_pic_normans.tga
data/world/maps/campaign/imperial_campaign/leader_pic_papal_states.tga
data/world/maps/campaign/imperial_campaign/leader_pic_poland.tga
data/world/maps/campaign/imperial_campaign/leader_pic_quelthalas.tga
data/world/maps/campaign/imperial_campaign/leader_pic_saxons.tga
data/world/maps/campaign/imperial_campaign/leader_pic_scourge.tga
data/world/maps/campaign/imperial_campaign/leader_pic_stormwind.tga
data/world/maps/campaign/imperial_campaign/leader_pic_theramore.tga
data/world/maps/campaign/imperial_campaign/leader_pic_timurids.tga
data/world/maps/campaign/imperial_campaign/leader_pic_venice.tga
data/world/maps/campaign/imperial_campaign/map_aztecs.tga
data/world/maps/campaign/imperial_campaign/map_centaur.tga
data/world/maps/campaign/imperial_campaign/map_darkiron.tga
data/world/maps/campaign/imperial_campaign/map_drakari.tga
data/world/maps/campaign/imperial_campaign/map_egypt.tga
data/world/maps/campaign/imperial_campaign/map_goblin.tga
data/world/maps/campaign/imperial_campaign/map_horde.tga
data/world/maps/campaign/imperial_campaign/map_hungary.tga
data/world/maps/campaign/imperial_campaign/map_kaldorei.tga
data/world/maps/campaign/imperial_campaign/map_khazmodan.tga
data/world/maps/campaign/imperial_campaign/map_legion.tga
data/world/maps/campaign/imperial_campaign/map_lordaeron.tga
data/world/maps/campaign/imperial_campaign/map_nerubians.tga
data/world/maps/campaign/imperial_campaign/map_normans.tga
data/world/maps/campaign/imperial_campaign/map_poland.tga
data/world/maps/campaign/imperial_campaign/map_quelthalas.tga
data/world/maps/campaign/imperial_campaign/map_saxons.tga
data/world/maps/campaign/imperial_campaign/map_scourge.tga
data/world/maps/campaign/imperial_campaign/map_stormwind.tga
data/world/maps/campaign/imperial_campaign/map_theramore.tga
data/world/maps/campaign/imperial_campaign/map_timurids.tga
data/world/maps/campaign/imperial_campaign/map_venice.tga
data/world/maps/campaign/imperial_campaign/mercenaries.bmp
data/world/maps/campaign/imperial_campaign/radar_map1.tga
data/world/maps/campaign/imperial_campaign/radar_map2.tga
data/world/maps/campaign/imperial_campaign/radar_map_background.tga
data/world/maps/campaign/imperial_campaign/unlocked.txt
data/world/maps/campaign/imperial_campaign/vcs_aztecs.tga
data/world/maps/campaign/imperial_campaign/vcs_centaur.tga
data/world/maps/campaign/imperial_campaign/vcs_darkiron.tga
data/world/maps/campaign/imperial_campaign/vcs_drakari.tga
data/world/maps/campaign/imperial_campaign/vcs_egypt.tga
data/world/maps/campaign/imperial_campaign/vcs_goblin.tga
data/world/maps/campaign/imperial_campaign/vcs_horde.tga
data/world/maps/campaign/imperial_campaign/vcs_hungary.tga
data/world/maps/campaign/imperial_campaign/vcs_kaldorei.tga
data/world/maps/campaign/imperial_campaign/vcs_khazmodan.tga
data/world/maps/campaign/imperial_campaign/vcs_legion.tga
data/world/maps/campaign/imperial_campaign/vcs_lordaeron.tga
data/world/maps/campaign/imperial_campaign/vcs_nerubians.tga
data/world/maps/campaign/imperial_campaign/vcs_normans.tga
data/world/maps/campaign/imperial_campaign/vcs_poland.tga
data/world/maps/campaign/imperial_campaign/vcs_quelthalas.tga
data/world/maps/campaign/imperial_campaign/vcs_saxons.tga
data/world/maps/campaign/imperial_campaign/vcs_scourge.tga
data/world/maps/campaign/imperial_campaign/vcs_slave.tga
data/world/maps/campaign/imperial_campaign/vcs_stormwind.tga
data/world/maps/campaign/imperial_campaign/vcs_theramore.tga
data/world/maps/campaign/imperial_campaign/vcs_venice.tga
data/world/maps/campaign/imperial_campaign/campaign_script - Kopia.txt
data/packagedb.txt

world/maps/campaign/base/descr_sounds_music_types.txt
world/maps/campaign/base/descr_terrain.txt
world/maps/campaign/base/map.rwm
world/maps/campaign/base/map_climates.tga
world/maps/campaign/base/map_FE.tga
world/maps/campaign/base/map_features.tga
world/maps/campaign/base/map_fog.tga
world/maps/campaign/base/map_ground_types.tga
world/maps/campaign/base/map_heights.tga
world/maps/campaign/base/map_regions2.tga
world/maps/campaign/base/map_roughness.tga
world/maps/campaign/base/map_trade_routes.tga
world/maps/campaign/base/water_surface.tga
world/maps/campaign/imperial_campaign/campaign_script - Kopia.txt
world/maps/campaign/imperial_campaign/descr_events.txt
world/maps/campaign/imperial_campaign/descr_mercenaries.txt
world/maps/campaign/imperial_campaign/descr_regions_and_settlement_name_lookup.txt
world/maps/campaign/imperial_campaign/descr_win_conditions.txt
world/maps/campaign/imperial_campaign/descr_win_conditions.txt.bak
world/maps/campaign/imperial_campaign/factionregions.psd
world/maps/campaign/imperial_campaign/factionregions2.psd
world/maps/campaign/imperial_campaign/leader_pic_aztecs.tga
world/maps/campaign/imperial_campaign/leader_pic_centaur.tga
world/maps/campaign/imperial_campaign/leader_pic_darkiron.tga
world/maps/campaign/imperial_campaign/leader_pic_drakari.tga
world/maps/campaign/imperial_campaign/leader_pic_egypt.tga
world/maps/campaign/imperial_campaign/leader_pic_goblin.tga
world/maps/campaign/imperial_campaign/leader_pic_horde.tga
world/maps/campaign/imperial_campaign/leader_pic_hungary.tga
world/maps/campaign/imperial_campaign/leader_pic_kaldorei.tga
world/maps/campaign/imperial_campaign/leader_pic_khazmodan.tga
world/maps/campaign/imperial_campaign/leader_pic_legion.tga
world/maps/campaign/imperial_campaign/leader_pic_lordaeron.tga
world/maps/campaign/imperial_campaign/leader_pic_mongols.tga
world/maps/campaign/imperial_campaign/leader_pic_nerubians.tga
world/maps/campaign/imperial_campaign/leader_pic_normans.tga
world/maps/campaign/imperial_campaign/leader_pic_papal_states.tga
world/maps/campaign/imperial_campaign/leader_pic_poland.tga
world/maps/campaign/imperial_campaign/leader_pic_quelthalas.tga
world/maps/campaign/imperial_campaign/leader_pic_saxons.tga
world/maps/campaign/imperial_campaign/leader_pic_scourge.tga
world/maps/campaign/imperial_campaign/leader_pic_stormwind.tga
world/maps/campaign/imperial_campaign/leader_pic_theramore.tga
world/maps/campaign/imperial_campaign/leader_pic_timurids.tga
world/maps/campaign/imperial_campaign/leader_pic_venice.tga
world/maps/campaign/imperial_campaign/map_aztecs.tga
world/maps/campaign/imperial_campaign/map_centaur.tga
world/maps/campaign/imperial_campaign/map_darkiron.tga
world/maps/campaign/imperial_campaign/map_drakari.tga
world/maps/campaign/imperial_campaign/map_egypt.tga
world/maps/campaign/imperial_campaign/map_goblin.tga
world/maps/campaign/imperial_campaign/map_horde.tga
world/maps/campaign/imperial_campaign/map_hungary.tga
world/maps/campaign/imperial_campaign/map_kaldorei.tga
world/maps/campaign/imperial_campaign/map_khazmodan.tga
world/maps/campaign/imperial_campaign/map_legion.tga
world/maps/campaign/imperial_campaign/map_lordaeron.tga
world/maps/campaign/imperial_campaign/map_nerubians.tga
world/maps/campaign/imperial_campaign/map_normans.tga
world/maps/campaign/imperial_campaign/map_poland.tga
world/maps/campaign/imperial_campaign/map_quelthalas.tga
world/maps/campaign/imperial_campaign/map_saxons.tga
world/maps/campaign/imperial_campaign/map_scourge.tga
world/maps/campaign/imperial_campaign/map_stormwind.tga
world/maps/campaign/imperial_campaign/map_theramore.tga
world/maps/campaign/imperial_campaign/map_timurids.tga
world/maps/campaign/imperial_campaign/map_venice.tga
world/maps/campaign/imperial_campaign/mercenaries.bmp
world/maps/campaign/imperial_campaign/radar_map1.tga
world/maps/campaign/imperial_campaign/radar_map2.tga
world/maps/campaign/imperial_campaign/radar_map_background.tga
world/maps/campaign/imperial_campaign/unlocked.txt
world/maps/campaign/imperial_campaign/vcs_aztecs.tga
world/maps/campaign/imperial_campaign/vcs_centaur.tga
world/maps/campaign/imperial_campaign/vcs_darkiron.tga
world/maps/campaign/imperial_campaign/vcs_drakari.tga
world/maps/campaign/imperial_campaign/vcs_egypt.tga
world/maps/campaign/imperial_campaign/vcs_goblin.tga
world/maps/campaign/imperial_campaign/vcs_horde.tga
world/maps/campaign/imperial_campaign/vcs_hungary.tga
world/maps/campaign/imperial_campaign/vcs_kaldorei.tga
world/maps/campaign/imperial_campaign/vcs_khazmodan.tga
world/maps/campaign/imperial_campaign/vcs_legion.tga
world/maps/campaign/imperial_campaign/vcs_lordaeron.tga
world/maps/campaign/imperial_campaign/vcs_nerubians.tga
world/maps/campaign/imperial_campaign/vcs_normans.tga
world/maps/campaign/imperial_campaign/vcs_poland.tga
world/maps/campaign/imperial_campaign/vcs_quelthalas.tga
world/maps/campaign/imperial_campaign/vcs_saxons.tga
world/maps/campaign/imperial_campaign/vcs_scourge.tga
world/maps/campaign/imperial_campaign/vcs_slave.tga
world/maps/campaign/imperial_campaign/vcs_stormwind.tga
world/maps/campaign/imperial_campaign/vcs_theramore.tga
world/maps/campaign/imperial_campaign/vcs_venice.tga

limits.youneuoycfg
Executable.bat
Warcraft Total War.lnk

